.image-collage-grid ul li{
    display:block;
    float:left;
    list-style-type:none;
    margin:0;
    position:relative;
}
div.image-collage-grid ul {
    margin-left:0;
    padding:0;
}
.image-collage-grid li img {
    margin:0;
    padding:0;
    width:120px;
    height:120px;
}
.image-collage-grid li .quote {
    display:none;
}
.image-collage-grid li:hover .quote {
    display:block;
    position:absolute;
    top:0;
    left:0;
    background:#6B0103;
    opacity:0.8;
    height:96px;
    width:100%;
    color:white;
    cursor:pointer;
    padding:4px;
    box-sizing:border-box;
}
.image-collage-grid {
    position:relative;
    font-family:'arial';
}
.image-collage-grid .overlay, .image-collage-overlay-bg {
    display:none;
    position:absolute;
    top:0;
    left:0;
    color:white;
}
.image-collage-overlay-bg {
    background:#6B0103;
    height:400px;
    width:100%;
    opacity:0.8;
}
.image-collage-overlay-right {
    width:63%;
    box-sizing:border-box;
    padding:1em;
    float:left;
}
.image-collage-overlay-left {
    width:27%;
    padding:1em;
    box-sizing:border-box;
    float:left;
}
.image-collage-overlay-left img {
    width:120px;
    padding:5px;
    border-radius:50%;
    background:white;
    border:1px solid #ddd;
    height:120px;
}
.image-collage-overlay-thumbnail {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}
span.image-collage-close-button {
    display:block;
    background:white;
    padding:4px;
    float:right;
    cursor:pointer;
    color:#6B0103;
    
}